# ===============================
# Spring Boot Config (Sensitive)
# ===============================
src/main/resources/application*.properties

# ===============================
# Build Files
# ===============================
target/
*.class

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Environment Files
# ===============================
.env

# ===============================
# Maven Wrapper (KEEP THIS FILE)
# ===============================
# DO NOT IGNORE .mvn/wrapper/maven-wrapper.jar

# ===============================
# IntelliJ IDEA
# ===============================
.idea
*.iws
*.iml
*.ipr

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# NetBeans
# ===============================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db